name: SonarQube Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    - name: Install SonarQube Scanner
      run: |
        sudo apt-get update
        sudo apt-get install -y unzip
        curl -sSLo sonar-scanner.zip https://github.com/SonarSource/sonar-scanner-cli/archive/refs/tags/7.3.0.5189.zip
        unzip sonar-scanner.zip
        sudo mv sonar-scanner-cli-7.3.0.5189 /opt/sonar-scanner
        sudo ln -s /opt/sonar-scanner/bin/sonar-scanner /usr/local/bin/sonar-scanner



    - name: Run SonarQube Scanner
      run: |
        sonar-scanner \
          -Dsonar.projectKey=comp3104-demo \
          -Dsonar.sources=. \
          -Dsonar.host.url=$SONAR_HOST_URL \
          -Dsonar.login=$SONAR_TOKEN
