name: SonarQube Scan

on:
  push:
    branches:
      - main

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Test connection to SonarQube
      run: |
        curl -v http://4.239.170.208:9000/

    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    - name: Install SonarQube Scanner
      run: |
        sudo apt-get update
        sudo apt-get install -y unzip
        curl -sSLo sonar-scanner.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-5.0.1.3006-linux.zip
        unzip sonar-scanner.zip
        sudo mv sonar-scanner-5.0.1.3006-linux /opt/sonar-scanner
        sudo ln -s /opt/sonar-scanner/bin/sonar-scanner /usr/local/bin/sonar-scanner

    - name: Run SonarQube Scanner
      run: |
        sonar-scanner \
          -Dsonar.projectKey=comp3104-demo \
          -Dsonar.sources=. \
          -Dsonar.host.url=http://4.239.170.208:9000 \
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}

          